<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td><h3>Home Page</h3></td>
      </tr>
      <tr>
        <div class="" *ngIf="lista != null">
          <p>Menu</p>
          <form class="" action="index.html" method="post">
            <input #p type="text" name="" value="" autocomplete="off" placeholder="Pesquisar..."><button type="button" name="ir" (click)="pesquisar(p.value)">Ir</button>
          </form>
          <div class="">
            <div class="" *ngIf="lista.lojas != undefined && lista.lojas.length > 0">
              <label for="">Lojas</label>
              <ul>
                <li *ngFor="let i of lista.lojas">
                  <a routerLink="../loja/{{ i._id }}">{{ i.nome }}</a> - {{ i.end.rua }} - {{ i.end.cep }}
                </li>
              </ul>
            </div><br><br>
            <div class="" *ngIf="lista.produtos != undefined && lista.produtos.length > 0">
              <label for="">Produtos</label>
              <ul>
                <li  *ngFor="let i of lista.produtos">
                  <a routerLink="../produto/{{ i._id }}">{{ i.nome }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </tr>
    </table>
  </body>
</html>
