<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td><h3>Home Page</h3></td>
      </tr>
      <tr>
        <div class="">
          <p>Menu</p>
          <form class="" action="index.html" method="post">
            <input type="text" name="" value="" autocomplete="off" placeholder="Pesquisar..."><button type="button" name="button" (onclick)="pesquisar($event)">Ir</button>
          </form>
        </div>
      </tr>
    </table>
  </body>
</html>
