<p>Pagina de Buscas</p>
<div *ngIf="searchString">
<table *ngIf="resultadosLojas">
  <thead>
    <th>Lojas</th>
  </thead>
  <tr *ngFor="let i of resultadosLojas">
    <td>
      <div class="">
          <h4>{{ i.nome }}</h4><h5> - <i>{{ i.end.rua }}</i> - <i>{{ i.telefone }}</i></h5>
      </div>
    </td>
  </tr>
</table>

<table *ngIf="resultadosProdutos">
  <thead>
    <th>Produtos</th>
  </thead>
  <tr *ngFor="let i of resultadosProdutos">
    <td>
      <div class="">
        <h4>{{ i.nome }} - <b>{{ i.loja }}</b></h4>
      </div>
    </td>
  </tr>
</table>
</div>
